*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
}


.grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}