


$container-width: 1168px;

$container-width-padding: 24px;

$bp-small-min: 300px;
$bp-small-sub: 400px;
$bp-small: 600px;
$bp-medium-sub: 800px;
$bp-medium-sm: 900px;
$bp-medium: 960px;
$bp-large: 1200px;


$color-primary: #fa8f3e;
$color-secondary: #22C129;

$color-text: #484848;

$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$shadow-primary: 0px 4px 10px rgba(0, 0, 0, 0.1);
$shadow-secondary: 6px 1px 35px rgba(0, 0, 0, 0.4);

